:root {
    --cor-principal: #f2fff0;
}

body {
    background-color: var(--cor-principal);
}

h1 {
    text-align: center;
  }

  #conteudo_principal {
    margin: 5%;
    background-color: rgb(150, 185, 153);
        padding: 5%;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(150, 185, 153);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(150, 185, 153);
  }

footer{
    padding: 750;
    margin: 300;
    width: 350;
    
    text-align: center;
    
  }

  